root {
  align-items: center;
  justify-content: center;
  background-color: aliceblue;
}

body {
  background-color: rgb(24, 93, 139);
  /* background-color: rgb(189, 18, 18); */
  /* background-color: rgb(156, 58, 1); */
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 10px;
  border-radius: 12px;
  margin-top: 20px;
}

.App {
  text-align: center;
  box-shadow: 3px 3px 35px #000000;
  padding: 10px;
  border-radius: 12px;
}

.game-container {
}

.finish-container {
  margin-top: 50%;
  margin-bottom: 50%;
  text-align: center;
  box-shadow: 3px 3px 35px #888888;
  padding: 10px;
  border-radius: 12px;
  box-shadow: 3px 3px 35px #000000;
}

.title {
  text-transform: uppercase;
  color: rgb(208, 222, 231);
  color: rgb(216, 202, 74);
  box-shadow: 3px 3px 35px #888888;
}

h2 {
  text-transform: capitalize;
  color: rgb(216, 202, 74);
  font-size: 20px;
}

.keyboard {
  margin: 0 auto;
  color: #fff;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(10, 1fr);
}

.letter-button-active {
  font-family: Helvetica;
  font-weight: bold;
  color: rgb(13, 20, 5);
  background-color: rgb(216, 202, 74);
  font-size: 14px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: 4px 4px 8px #130202;
}

.letter-button-active:hover {
  color: white;
  background-color: brown;
}

.letter-button-disabled {
  border-radius: 50%;
}

.word {
  text-transform: uppercase;
  margin: top 35px;
  color: rgb(216, 202, 74);
  font-weight: bold;
  font-size: 20px;
  box-shadow: 3px 3px 35px #888888;
  letter-spacing: 8px;
}

.new-word {
  font-size: 18px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 8px;
}

.new-word:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.new-word:active {
  color: #000;
}

.new-word:active:after {
  background: transparent;
}

.new-word:hover:before {
  opacity: 1;
}

.new-word:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

@media (hover: none) {
  .letter-button-active:hover {
    background-color: chartreuse;
    color: rgb(13, 20, 5);
  }
}

.hangman-display {
  fill: transparent;
  stroke: #fff;
  stroke-width: 4px;
  stroke-linecap: round;
}

.show {
}

.hide {
  display: none;
}

.finish {
  color: rgb(216, 202, 74);
  text-transform: uppercase;
  font-size: 25px;
  padding: 10px;
}

.new-game-btn {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  color: rgb(216, 202, 74);
  border: #002bff solid 3px;
  border-radius: 12px;
  text-transform: capitalize;
  font-weight: bold;
}

.new-game-btn:hover {
  background-color: #111;
  color: rgb(199, 9, 34);
  border: #002bff solid 3px;
  box-shadow: 3px 3px 35px #ffffff;
}

p {
  text-transform: uppercase;
}

.correct-word {
  color: rgb(216, 202, 74);
  font-weight: bold;
  box-shadow: 3px 3px 35px #888888;
}
